.header{
    color: #ffffff;
    background-color: #243940;
    height: 50px;
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
}

.headerdown{
    color: #ffffff;
    background-color: #477280;
    height: 30px;
    display:grid; 
    align-items: center; 
    justify-content: flex-start;
    min-width: 180px;
}

.user-icon{
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 20px;
}
.user-icon-2{
    height: 15px;
    width: 15px;
    margin-left: auto;
    margin-right: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size:small;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* li a:hover {
    background-color: #111;
} */