.popup {
  position: fixed;

  transform: translate(-51vmin, 0px);
  background-color: #ffffff;
  border: 3px solid rgb(92, 92, 92);
  padding: 20px;
  display: none;
  border-radius: 30px;
  width: 50vmin;
  height: 40vmin;
  min-width: 250px;
  min-height: 200px;
}
  
.close-icon{
  float: right;
}