<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/account.css">
    <script>
      function SignIn(){

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
      
        console.log( email, password);
        const data = { email: email, password: password };
        fetch('/signin', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(response => response.json()).then(data => {
          if(data.ok == false){
            const error_block = document.getElementById("error")
            error_block.innerHTML = "err"
          }
          else{
            console.log(data.id);
            const error_block = document.getElementById("error")
            error_block.innerHTML = ""
            document.cookie = `id=${data.id}; max-age=${60 * 60 * 24}; path=/`;
            window.location.href = "/"
          }
        }).catch(error => {console.error(error);});         
      }
    </script>
</head>
<body>
    <div class="account-header">
        <div class="name-header">
          ITop
        </div>
        <div class="name2-header">
          Account
        </div>
    </div>
    <hr style="color: black;">
    <div class="account-body">
        <h2 class = "text">Sign In</h2>
        <h3 class = "text">Email:</h3>
        <input id = "email" class = "input" width="100px"></input>
        <h3 class = "text">Password:</h3>
        <input id = "password" class = "input" width="100px"></input>
        <div id = "error">
        </div>
        <button class = "signin-btn" onclick="SignIn()"> Sign In </button>
        <br>
        <h5 class = "text">Already have an account?</h5>
        <h5 class = "text"><a href="login" style="text-decoration: none; color:rgb(43, 148, 161);">Log In</a></h5>
        <br>
    </div>
    <!-- <div class="account-footer">

    </div> -->
</body>
</html>