<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/account.css">
</head>
<body>
    <div class="account-header">
        <div class="name-header">
          ITop
        </div>
        <div class="name2-header">
          Account
        </div>
    </div>
    <hr style="color: black;">
    <div class="account-body">
        <h2 class = "text">Sign In</h2>
        <h3 class = "text">Email:</h3>
        <input class = "input" width="100px"></input>
        <h3 class = "text">Password:</h3>
        <input class = "input" width="100px"></input>
        <button class = "signin-btn"> Sign In </button>
        <br>
        <h5 class = "text">Already have an account?</h5>
        <h5 class = "text"><a href="login" style="text-decoration: none; color:rgb(43, 148, 161);">Log In</a></h5>
        <br>
    </div>
    <!-- <div class="account-footer">

    </div> -->
</body>
</html>